* {
  scroll-behavior: smooth;
}
:root {
  --x: 50%;
  --y: 50%;
}
.bts-image::before, .bts-image::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 40px;
  background: repeating-linear-gradient(
    180deg,
    #000 0px,
    #000 10px,
    transparent 10px,
    transparent 20px
  );
  z-index: 2;
}

.bts-image::before { left: 0; }
.bts-image::after { right: 0; }